* {
  box-sizing: border-box;
}

.header-post {
  width: 80%;
  margin: auto;
}

.header-post h3{
  color: gray;
}

.user-info {
  width: 50%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 20px 0;
}

.text-content {
  width: 50%;
  text-align: justify;
  margin: auto;
}

.icons-container {
  /* width: 30%; */
  display: flex;
  justify-content: space-between;
}

.icons-container button {
  background-color: transparent;
  border: none;
}

.icons-container button :hover {
  cursor: pointer;
}

.user-link {
  display: flex;
  height: min-content;
  align-items: initial;
}

.user-link img {
  padding: 2px;
  height: min-content;
  border-style: ridge;
  border-color: rgb(156, 204, 156);
  border-radius: 15px;
}

.user-link p {
  padding: 0 10px;
  margin: 0;
}

.card-subtitle {
  font-size: smaller;
}

.user-link button {
  background-color: transparent;
  height: min-content;
  border-style: solid;
  border-radius: 5px;
  border-color: rgb(83, 83, 155);
}

.user-info .view-button button {
  background-color: transparent;
  width: auto;
  border: none;
}

.views-container {
  width: 50%;
}

.view-link {
  display: flex;
}

.view-link p {
  padding: 0 10px;
}