.user-info {
  width: 50%;
  display: flex;
  flex-direction: column-reverse;
}

.user-link button {
  background-color: transparent;
  height: min-content;
  border-style: solid;
  border-radius: 5px;
  border-color: rgb(83, 83, 155);
}

.card-subtitle {
  font-size: smaller;
  text-align: left;
  padding-left: 10px;
}

.user-link {
  display: flex;
  height: min-content;
  align-items: initial;
  border: none;
}

.user-link .card-body {
  padding: 0;
}

.user-link img {
  padding: 2px;
  height: 32px;
  width: 32px;
  border-style: ridge;
  border-color: rgb(156, 204, 156);
  border-radius: 15px;
}

.user-link p {
  width: max-content;
  padding: 0 10px;
  margin: 0;
}

.icon-container {
  display: flex;
  justify-content: space-around;
  /* width: fit-content; */
}


@media (min-width: 750px){
  .user-info {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    padding: 20px 0;
  }


  
 }
