.log-in-head {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.log-in-head img{
    width: 30%;
    padding:20px;
}

.log-in-head .btn {
    background-color: transparent;
    border-color: black;
    border-style: solid;
    margin-right: 5px;
    padding: 5px 15px;
    border-radius: 5px;
    border-width: thin;
}
